{% if perms.netbox_secretstore.view_secret %}
    <div class="card">
        <h5 class="card-header">
            Secrets
        </h5>
        <div class="card-body">
            {% include 'netbox_secretstore/inc/assigned_secrets.html' %}
        </div>
        {% if perms.netbox_secretstore.add_secret %}
        <div class="card-footer text-end noprint">
            <a href="{% url 'plugins:netbox_secretstore:secret_add' %}?{{ type }}={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-sm btn-primary">
                <i class="mdi mdi-plus-thick"></i> Add Secret
            </a>
        </div>
        {% endif %}
    </div>
{% include 'netbox_secretstore/inc/private_key_modal.html' %}
{% endif %}