{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}

{% block title %}{% if obj.pk %}Editing {{ obj }}{% else %}Add a Secret{% endif %}{% endblock %}

{% block form %}
{% render_errors form %}

{{ form.private_key }}
<div class="field-group">
    <h4>Secret Assignment</h4>
    {% with vm_tab_active=form.initial.virtual_machine %}
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button
                    role="tab"
                    type="button"
                    id="device_tab"
                    data-bs-toggle="tab"
                    class="nav-link{% if not vm_tab_active %} active{% endif %}"
                    data-bs-target="#device"
                    aria-controls="device"
                >
                    Device
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    role="tab"
                    type="button"
                    id="vm_tab"
                    data-bs-toggle="tab"
                    class="nav-link{% if vm_tab_active %} active{% endif %}"
                    data-bs-target="#virtualmachine"
                    aria-controls="virtualmachine"
                >
                    Virtual Machine
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane{% if not vm_tab_active %} active{% endif %}" id="device">
                {% render_field form.device %}
            </div>
            <div class="tab-pane{% if vm_tab_active %} active{% endif %}" id="virtualmachine">
                {% render_field form.virtual_machine %}
            </div>
    {% endwith %}
    {% render_field form.role %}
    {% render_field form.name %}
    {% render_field form.userkeys %}
    {% render_field form.tags %}
    </div>
</div>
<div class="field-group">
    <h4>Secret Data</h4>
    {% if obj.pk %}
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label text-end">Current Plain Text</label>
            <div class="col">
                <input class="form-control font-monospace" value="********" id="secret_{{ obj.pk }}" disabled />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col col-sm-3 offset-sm-9 text-end">
                <button type="button" class="btn btn-sm btn-success unlock-secret" secret-id="{{ obj.pk }}">
                    <i class="mdi mdi-lock"></i> Unlock
                </button>
                <button type="button" class="btn btn-sm, btn-danger lock-secret d-none" secret-id="{{ obj.pk }}">
                    <i class="mdi mdi-lock-open"></i> Lock
                </button>
            </div>
        </div>
    {% endif %}
    {% render_field form.plaintext %}
    {% render_field form.plaintext2 %}

</div>
{% if form.custom_fields %}
    <div class="card">
        <h5 class="card-header">Custom Fields</h5>
        <div class="card-body">
            {% render_custom_fields form %}
        </div>
    </div>
{% endif %}

{% include 'netbox_secretstore/inc/private_key_modal.html' %}
{% endblock %}
