{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load static %}
{% load plugins %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'secrets:secret_list' %}">Secrets</a></li>
  <li class="breadcrumb-item"><a href="{% url 'secrets:secret_list' %}?role_id={{ object.role.pk }}">{{ object.role }}</a></li>
  <li class="breadcrumb-item"><a href="{{ object.assigned_object.get_absolute_url }}">{{ object.assigned_object }}</a></li>
  <li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">
                Secret Attributes
            </h5>
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th scope="row">Assigned Object</th>
                        <td>
                            <a href="{{ object.assigned_object.get_absolute_url }}">{{ object.assigned_object }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>
                            <a href="{{ object.role.get_absolute_url }}">{{ object.role }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name|placeholder }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'inc/custom_fields_panel.html' %}
        {% plugin_left_page object %}
	</div>
	<div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">
                Secret Data
            </h5>
            <div class="card-body">
                <form id="secret_form">
                    {% csrf_token %}
                </form>
                <div class="row">
                    <div class="col col-md-2">Secret</div>
                    <div class="col col-md-6"><code id="secret_{{ object.pk }}">********</code></div>
                    <div class="col col-md-4 text-end noprint">
                        <button class="btn btn-sm btn-success unlock-secret" secret-id="{{ object.pk }}">
                            <i class="mdi mdi-lock"></i> Unlock
                        </button>
                        <button class="btn btn-sm btn-outline-dark copy-secret d-none" secret-id="{{ object.pk }}" data-clipboard-target="#secret_{{ object.pk }}">
                            <i class="mdi mdi-content-copy"></i> Copy
                        </button>
                        <button class="btn btn-sm btn-danger lock-secret d-none" secret-id="{{ object.pk }}">
                            <i class="mdi mdi-lock-open"></i> Lock
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'extras/inc/tags_panel.html' with tags=object.tags.all url='secrets:secret_list' %}
        {% plugin_right_page object %}
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>

{% include 'secrets/inc/private_key_modal.html' %}
{% endblock %}
