{% extends 'generic/_base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Activate User Key" %}
{% endblock title %}

{% block tabs %}
    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="edit-form-tab" data-bs-toggle="tab" data-bs-target="#edit-form"
                    type="button" role="tab" aria-controls="edit-form" aria-selected="true">
                {% trans "Activate" %}
            </button>
        </li>
    </ul>
{% endblock tabs %}

{% block content %}
    <div class="tab-pane show active" id="edit-form" role="tabpanel" aria-labelledby="object-list-tab">

        <form action="{% url 'plugins:netbox_secrets:userkey_activate' %}" method="post"
              enctype="multipart/form-data" class="object-edit mt-5">
            {% csrf_token %}
            <div class="alert alert-info" role="alert">
                <div class="d-flex justify-content-between">
                    <div>
                        <i class="mdi mdi-information-outline p-2"></i>
                        <strong>Note:</strong> This form is for activating the <strong>{{ object }}</strong> User Key.
                    </div>
                </div>
            </div>
            <div id="form_fields" hx-disinherit="hx-select hx-swap">
                {% block form %}
                    {% include 'htmx/form.html' %}
                {% endblock form %}
            </div>

            <div class="text-end my-3">
                {% block buttons %}
                    <a href="{% url 'plugins:netbox_secrets:userkey_list' %}"
                       class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
                    <button type="submit" name="_update" class="btn btn-primary">
                        {% trans "Activate" %}
                    </button>
                {% endblock buttons %}
            </div>
        </form>
    </div>
{% endblock content %}
