{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load static %}
{% load plugins %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'plugins:netbox_secrets:secret_list' %}">Secrets</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'plugins:netbox_secrets:secret_list' %}?role_id={{ object.role.pk }}">{{ object.role }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ object.assigned_object.get_absolute_url }}">{{ object.assigned_object }}</a>
  </li>
  <li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">
          Secret Attributes
        </h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Assigned Object</th>
              <td>
                <a href="{{ object.assigned_object.get_absolute_url }}">{{ object.assigned_object }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">Role</th>
              <td>
                <a href="{{ object.role.get_absolute_url }}">{{ object.role }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description|placeholder }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">
          Secret Data
        </h5>
        <div class="card-body">
          <form id="secret_form">
            {% csrf_token %}
          </form>
          <div class="row">
            <div class="col col-md-2">Secret</div>
            <div class="col col-md-6"><code id="secret_{{ object.pk }}">********</code></div>
            <div class="col col-md-4 text-end noprint">
              {% include 'netbox_secrets/inc/secret_actions.html' %}
            </div>
          </div>
        </div>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>

  {% include 'netbox_secrets/inc/private_key_modal.html' %}
{% endblock %}
