{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
    {% for secretrole in object.get_ancestors %}
        <li class="breadcrumb-item"><a
                href="{% url 'plugins:netbox_secrets:secretrole_list' %}?parent_id={{ secretrole.pk }}">{{ secretrole }}</a>
        </li>
    {% endfor %}
{% endblock %}


{% block content %}
    <div class="row mb-3">
        <div class="col col-12 col-md-6">
            <div class="card">
                <h2 class="card-header">{% trans "Secret Role" %}</h2>
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">{% trans "Name" %}</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Description" %}</th>
                        <td>{{ object.description|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Parent" %}</th>
                        <td>{{ object.parent|linkify|placeholder }}</td>
                    </tr>
                </table>
            </div>
            {% include 'inc/panels/tags.html' %}
            {% include 'inc/panels/comments.html' %}
            {% plugin_left_page object %}
        </div>
        <div class="col col-12 col-md-6">
            {% include 'inc/panels/related_objects.html' %}
            {% include 'inc/panels/custom_fields.html' %}
            {% plugin_right_page object %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col col-md-12">
            <div class="card">
                <h2 class="card-header">
                    {% trans "Child Roles" %}
                    {% if perms.netbox_secrets.add_secretrole %}
                        <div class="card-actions">
                            <a href="{% url 'plugins:netbox_secrets:secretrole_add' %}?parent={{ object.pk }}"
                               class="btn btn-ghost-primary btn-sm">
                                <span class="mdi mdi-plus-thick"
                                      aria-hidden="true"></span> {% trans "Add Secret Role" %}
                            </a>
                        </div>
                    {% endif %}
                </h2>
                {% htmx_table 'plugins:netbox_secrets:secretrole_list' parent_id=object.pk %}
            </div>
            {% plugin_full_width_page object %}
        </div>
    </div>
{% endblock %}
