name: CI

on:
  push: { }
  pull_request: { }

# Add concurrency group to control job running
concurrency:
  group: ci-${{ github.event_name }}-${{ github.ref }}-${{ github.actor }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: read
  pull-requests: write

jobs:
  test:
    name: Run Tests
    uses: Onemind-Services-LLC/actions/.github/workflows/netbox-plugin-tests.yml@master
    with:
      runs-on: ubuntu-latest
      app-id: ${{ vars.APP_ID }}
      plugin-name: 'netbox_secrets'
      netbox-version: v4.5.2
      coverage-minimum: 50
    secrets:
      private-key: ${{ secrets.APP_PRIVATE_KEY }}
